
.vs/AdminERP.API/v15/Server/sqlite3/storage.ide-wal
.vs/AdminERP.API/v15/Server/sqlite3/storage.ide-shm
.vs/AdminERP.API/v15/.suo
.vs/AdminERP.API/v15/Server/sqlite3/storage.ide-shm
.vs/AdminERP.API/v15/Server/sqlite3/storage.ide-wal
